/**** Root Style ****/
:root {
  --shadow: 5px 6px 10px 1px rgba(68, 63, 63, 0.64);
  --shadow-2: 5px 6px 10px 1px rgba(64, 72, 214, 0.75);
  --shadow-3: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  --white: #eaeaed;
  --black: #1d1b1b;
  --orange: #ffa600;
  --border-tipe3: 0px 200px 200px 0px;
  --border-tipe8: 5px solid rgba(77, 45, 41, 0.226);
}
/**** ./Root Style ****/

/**** default ****/
.card {
  box-sizing: border-box !important;
  max-height: 400px;
  max-width: 400px;
  margin: 0px;
  padding: 0px;
}
.card {
  /* width: 80%; */
  max-width: 600px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: var(--shadow);
  overflow: hidden;
}
.card:hover,
.card:focus {
  box-shadow: var(--shadow-2);
}
.card-header,
.card-body p,
.card-footer {
  padding: 1px 10px;
}
.card-body {
  max-height: 150px;
  overflow: hidden;
}
.card-body:hover,
.card-body:focus {
  overflow: auto;
}
.card-title {
  text-transform: capitalize;
}
.card-img {
  max-height: 150px;
  overflow: hidden;
}
.card-img img {
  max-width: 100%;
}
.card-footer {
  text-align: right;
  background-color: var(--white);
}
/**** ./default ****/

/**** type-1 ****/
.card.type-1 {
  display: grid;
  grid-template-columns: 40% 60%;
}
.type-1 .card-header {
  grid-column: 2/3;
}
.type-1 .card-footer {
  grid-column: 2/3;
}
.type-1 .card-img {
  grid-row: 1/4;
  max-height: 100%;
}
.type-1 .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
/**** ./type-1 ****/

/**** type-2 ****/
.card.type-2 {
  display: grid;
  grid-template-columns: 1ft;
}
.type-2 .card-header {
  grid-row: 2/3;
  text-align: center;
}
.type-2 .card-img {
  grid-row: 1/2;
  max-height: 200px;
}
.type-2 .card-body {
  grid-row: 3/4;
  max-height: 100px;
}
.type-2 .card-footer {
  grid-row: 4/5;
  text-align: center;
}
/**** ./type-2 ****/
/**** type-3 ****/
.card.type-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* background-color: yellow; */
}
.type-3 .card-header {
  grid-column: 2/3;
}
.type-3 .card-footer {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.type-3 .card-img {
  grid-row: 1/4;
  grid-column: 1/2;
  z-index: 1;
  max-height: 100%;
  border-radius: var(--border-tipe3);
  box-shadow: var(--shadow);
  overflow: hidden;

  /* background-color: yellow; */
}
.type-3 .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
/**** ./type-3 ****/
/**** type-4 ****/
.card.type-4 {
  display: grid;
  grid-template-rows: 120px 35px 50px auto 50px;
  background-color: yellow;
  text-align: center;
}
.type-4 .card-img {
  margin: auto;
  margin-top: 30px;
  grid-column: 1/2;
  grid-row: 1/3;
  z-index: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: var(--shadow);
}
.type-4 .card-header {
  grid-column: 1/2;
  grid-row: 2/4;
  padding: 10px;
  background-color: white;
}
.type-4 .card-title {
  /* padding: 30px; */
}
.type-4 .card-body {
  grid-row: 4/5;
  background-color: white;
}
.type-4 .card-footer {
  grid-row: 5/6;
}
.type-4 .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
/**** ./type-4 ****/
/**** type-5 ****/
.card.type-5 {
  display: grid;
  grid-template-columns: 1fr;
  max-height: unset;
}
.type-5 .card-img {
  grid-row: 1/2;
  padding: 10px;
  max-height: 100%;
}
.type-5 .card-img img {
  border-radius: 5px;
}

/**** ./type-5 ****/
/**** type-6 ****/
.card.type-6 {
  display: grid;
  grid-template-columns: 1fr;
  max-height: unset;
  text-align: center;
}
.type-6 .card-img {
  grid-row: 1/2;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  max-height: 100%;
  margin: auto;
  margin-top: 10px;
}
.type-6 .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: unset;
  object-position: left;
}
.type-6 .card-header {
  grid-row: 2/3;
}
/**** ./type-6 ****/
/**** type-7 ****/
.card.type-7 {
  display: grid;
}
.type-7 .card-header {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}
.type-7 .card-img {
  grid-row: 4/5;
  max-height: 300px;
}
.type-7 .card-footer {
  grid-row: 1/2;
  grid-column: 1/2;
}
/**** ./type-7 ****/
/* type-8  */
.card.type-8 {
  display: grid;
  grid-template-columns: 300px 30px;
  grid-template-rows: 100px auto;
  background-color: transparent;
  box-shadow: unset;
}
.card.type-8:hover {
  --border-tipe8: 5px solid rgba(108, 41, 233, 0.226);
}
.type-8 .card-img {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: transparent;
  max-height: 300px;
  border-right: var(--border-tipe8);
  border-bottom: var(--border-tipe8);
  border-radius: 10px;
}
.type-8 .card-img img {
  height: 300px;
  width: 330px;
  object-fit: cover;
  object-position: left;
  background-color: transparent;
}
.type-8 .card-header {
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1;
  background-color: white;
  margin: 0px;
  border-right: var(--border-tipe8);
  border-radius: 0px 5px 0px 0px;
}
.type-8 .card-body {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0px;
  background-color: white;
  padding: 0px 10px;
  border-right: var(--border-tipe8);
}
.type-8 .card-footer {
  grid-column: 1/2;
  background-color: white;
  border-right: var(--border-tipe8);
  border-bottom: var(--border-tipe8);
  border-radius: 0px 0px 5px 5px;
}
/* ./ type-8  */
/* type-9  */
.card.type-9 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(37, 37, 37);
}
.type-9 .card-img {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 88, 88);
  clip-path: polygon(
    100% 0,
    100% 52%,
    96% 59%,
    100% 65%,
    100% 100%,
    0 100%,
    0 0
  );
}
.type-9 .card-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
}
.type-9 .card-header {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  background-color: rgb(90, 88, 88);
  color: white;
  /* padding-bottom: 30px; */
}
.type-9 .card-title {
  margin-top: 0px;
  margin-bottom: 30px;
}
.type-9 .card-body {
  grid-column: 2/3;
  background-color: rgb(37, 37, 37);
  color: white;
}
.type-9 .card-footer {
  grid-column: 2/3;
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: left;
}
/* ./ type-9  */
/* type-10 */
.card.type-10 {
  display: grid;
  grid-template-columns: 70% 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
}
.type-10 .card-header {
  background-color: var(--black);
  color: white;
  grid-row: 1/2;
  grid-column: 1/2;
}
.type-10 .card-title {
  font-size: 40px;
  margin: 0px;
  font-weight: 900;
  position: relative;
}
.type-10 .card-title::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0px;
  bottom: -10px;
}
.type-10 .card-body {
  grid-column: 1/2;
  grid-row: 2/5;
  background-color: var(--black);
  color: white;
}
.type-10 .card-img {
  grid-row: 1/5;
  grid-column: 2/3;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-10 .card-img img {
  width: 80%;
  border-radius: 10px;
}
.type-10 .card-footer {
  grid-row: 4/5;
  grid-column: 2/3;
  background-color: var(--black);
  color: white;
}
/* ./ type-10 */
/* type-11 */
.card.type-11 {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: rgb(37, 37, 37);
  font-family: Arial, Helvetica, sans-serif;
}
.type-11 .card-img {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 37, 37);
  position: relative;
  max-height: unset;
}
.type-11 .card-img::after {
  content: "";
  background-color: white;
  width: 2px;
  height: 80%;
  position: absolute;
  right: 0px;
}
.type-11 .card-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
}
.type-11 .card-header {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 20px;
}
.type-11 .card-title {
  font-weight: 800;
  font-size: 18pt;
  margin: 0px;
  position: relative;
}
.type-11 .card-title::after {
  content: "";
  background-color: white;
  width: 80%;
  height: 2px;
  position: absolute;
  left: 10%;
  bottom: -10px;
}
.type-11 .card-body {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 0px 20px;
}
.type-11 .card-footer {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: right;
}
/* ./ type-11 */
/* type-12  */
.card.type-12 {
  display: grid;
  grid-column: 1fr 1fr;
  background-color: #ffa600;
}
.type-12 .card-img {
  grid-row: 1/2;
  grid-column: 1/3;
}
.type-12 .card-header {
  grid-row: 2/3;
  grid-column: 1/2;
  min-height: 100px;
  background-color: #ffa600;
}
.type-12 .card-body {
  grid-row: 2/4;
  grid-column: 2/3;
  background-color: #1d1b1b;
  color: #fff;
  padding: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 60%, 6% 53%, 0 46%);
}
.type-12 .card-footer {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #ffa600;
}

/* ./ type-12  */
/* type-13  */
.card.type-13 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0px 80px 0px 80px;
  background-color: var(--orange);
}
.type-13 .card-img {
  grid-column: 1/3;
  grid-row: 1/3;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    83% 100%,
    76% 90%,
    69% 100%,
    0 100%
  );
}
.type-13 .card-header {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding-right: 30px;
}
.type-13 .card-body {
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: var(--orange);
}
.type-13 .card-footer {
  grid-column: 1/3;
  grid-row: 4/5;
  background-color: var(--black);
  color: white;
}
/* ./ type-13  */
/* type-14  */
.card.type-14 {
  display: grid;
  grid-template-columns: 5% 15% 15% auto;
  background-color: var(--black);
  /* grid-template-rows: 10% 80% 10%; */
}
.type-14 .card-img {
  grid-column: 1/4;
  grid-row: 2/3;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  box-shadow: var(--shadow-3);
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.type-14 .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: left;
  position: absolute;
}
.type-14 .card-header {
  grid-column: 3/5;
  grid-row: 1/2;
  background-color: orange;
  clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0% 100%);
  text-align: right;
}
.type-14 .card-body {
  grid-column: 3/5;
  grid-row: 2/3;
  background-color: orange;
  text-align: right;
}
.type-14 .card-body p {
  max-width: 70%;
  float: right;
}
.type-14 .card-footer {
  grid-column: 3/5;
  grid-row: 3/4;
  background-color: orange;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
/* ./ .type-14  */
/* type-15  */
.card.type-15 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.type-15 .card-img {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--black);
}
.type-15 .card-img img {
  /* width: 180px; */
}
.type-15 .card-footer {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--black);
  color: var(--white);
}
.type-15 .card-header {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--orange);
}
.type-15 .card-body {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--orange);
}
/* ./type-15  */
