* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body,
header,
main {
  display: grid;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  /* background-color: #eaeaed; */
  background-image: url("./bg.jpg");
}
nav {
  margin-bottom: 30px;
}
section {
  max-width: 900px;
  padding: 20px 20px;
  margin: auto;
}
.full {
  width: 100vw;
}
.bg-blue {
  background-color: rgb(79, 79, 241);
  color: white;
}
.menu-ctr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.btn-menu {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  justify-self: end;
  background-color: transparent;
  border: none;
}
.menu-ctr .icon {
  display: flex;
  align-items: center;
}
.menu-ctr .icon span {
  padding-left: 10px;
}
.icon {
  padding-left: 10px;
  padding-top: 10px;
  height: 50px;
}

.icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: left;
  box-shadow: 0px 1px 3px 0.5px black;
}
.header-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
}
.menu {
  /* grid-column: 1/3; */
  padding-top: 20px;
  padding-bottom: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  display: none;
  opacity: 0;
  background-color: turquoise;
  transition: 200s ease;
}
.show-grid {
  display: grid !important;
  opacity: 1;
}
@keyframes heigthchange {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
.nav {
  /* padding: 10px; */
  background-color: turquoise;
}
.nav a {
  cursor: pointer;
  background-color: turquoise;
  padding: 10px;
  color: #000;
}
.nav a:hover,
.nav a:focus {
  background-color: white;
  color: turquoise;
  transition: 0.3s ease-in-out;
}
header {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header .header-img {
  grid-row: 1/2;
}
header .header-text {
  grid-row: 2/3;
  max-width: 900px;
  padding: 10px;
}
.title {
  text-transform: uppercase;
}
.header-img img {
  max-width: 100%;
}
main {
  grid-row: 3/4;
  display: grid;
  justify-content: center;
}
.main {
  /* padding: 10px; */
  text-align: justify;
}
footer {
  grid-row: 4/5;
}

.footer {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 10px;
  /* max-height: 50px; */
}
.footer .title {
  text-decoration: underline;
}
footer #more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
#more-info a {
  color: white;
}
.footer div {
  display: grid;
  text-align: left;
}
/* button */
.btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}
.btn-start {
  background-color: turquoise;
  color: white;
}
.btn-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: blue;
  position: relative;
}
.btn-icon::after,
.btn-icon::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: blue;
  position: absolute;
}
.btn-icon::before {
  bottom: -8px;
  left: 0px;
}
.btn-icon::after {
  top: -9px;
  left: 0px;
}

/* ukuran layar */
@media screen and (min-width: 600px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn-menu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    opacity: 1;
    transition: unset;
    padding-top: 5px;
  }
}
